{% layout none %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% paginate collection.products by 50 %}
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
            <td>Sku</td>
            <td>Qty</td>
            <td>Cost</td>
            <td>Product Name</td>
                <td>Variant Name</td>
              <td>Variant Image</td>
              <td>Product Page Url</td>
              <td>Category</td>
              <td>Collection</td>
              <td>Gender</td>
        </tr>
      </thead>
        <tbody id="product">
      {% for product in collection.products %}
        {% for variant in product.variants %}
                
            <tr>
                <td>{{variant.sku}}</td>
                <td>{{variant.inventory_quantity}}</td>
                <td>{{variant.price | money_without_currency}}</td>
                <td>{{product.title}}</td>
                        <td>{{variant.title}}</td>
                      <td>https://cdn.shopify.com/s/files/1/0790/7429/{{ variant.image }}</td>
                      <td>http://www.fjallraven.us/products/{{ product.handle }}</td>
                      <td>{{ product.type }}</td>
                      <td>{% for collection in product.collections %} {{ collection.title }} {% endfor %}</td>
                      <td>{% if product.tags contains 'Womens' %}Womens{% elsif product.tags contains 'Mens' %}Mens{% elsif product.tags contains 'Kids' %}Kids{% else %}Undefined{% endif %}
                         </td>
            </tr>
          {% endfor %}
    {% endfor %}
      </tbody>
      <tbody id="product-list-foot"><tr><td colspan="4"></td></tr></tbody>
  </table>
<script>
  $(document).ready(function(){
            for (i = 2; i <= {{ paginate.pages }}; i++) { // NEEDS TO LIE WITHIN THE PAGINATE PARAMETERS
                $.ajax({
                    type: 'GET',
                  url: '{{ shop.url }}{{ collection.url }}?page='+i,
                    success: function(data) {
                      var filteredData = $(data).filter("#product"); // THIS IS THE DIV SURROUNDING THE ROWS YOU WANT
                                    var tableget = $(data).filter("table"),
                                        tbodyget = $(tableget).find('tbody#product');
                      tbodyget.insertBefore( $("#product-list-foot") ); // THIS IS A LAST ITEM AFTER THE LIST
                    },
                                error: function(jqXHR, textStatus, errorThrown) {
                                  console.log(textStatus, errorThrown);
                                },
                    dataType: "html"
                });
            } // PUT A LISTENER ON THE AJAX IF YOU CARE ABOUT THEM BEING IN ALPHABETICAL ORDER
  });
          </script>
{% endpaginate %}
